<% include ./partials/header.ejs %>
<h1> Welcome to Earth </h1>
    <link rel="stylesheet" href="/css/styles.css"/>


    <img src="/img/earth.jpg" alt="Earth" width="2000px"/>

<p>Earth, the third planet from the sun and our home. It the only known planet to harbor life and formed over 4 billion years ago.
It is the most dense planet in our solar system and has a mass of 5.97237×1024 kg. Earth has one moon which formed over 4.5 billion years ago.
The seasons of Earth are produced by its tilted axis of rotation. 71% of Earth's surface is made of water.</p>

<% include partials/footer %>