<% include ./partials/header.ejs %>
<h1> Our Solar System </h1>
        <link rel="stylesheet" href="/css/styles.css"/>


        <img src="/img/solarSystem.jpg" alt="The Solar System" width="2000px"/>
<p>Our solar system formed 4.6 billion years ago. There are eight planets in our solar system; Mercury, Venus, Earth, Mars,
Jupiter, Saturn, Uranus, and Neptune. Nicolaus Copernicus was first to mathematically prove the heliocentric system of our
solar system. The largest astronomical object in our solar system is the Sun, a sphere of plasma which fuses 600 million
tons of hydrogen every second. </p>

<% include partials/footer %>