<% include ./partials/header.ejs %>
<h1> Mercury </h1>
    <link rel="stylesheet" href="/css/styles.css"/>


    <img src="/img/mercury.png" alt="Mercury" width="2000px"/>
<p>Mercury, the closest planet to the sun, has a surface temperature of over 800 degrees Fahrenheit and can drop to as low
    as 275 F. As the smallest planet, it is only slightly larger than earth's moon and has a mass of 3.285 × 10^23 kg.3
    Despite its proximity to the sun, NASA's Messenger discovered water on the planet's north pole in 2012. Mercury has only one
    continental plate, and as the core cools it loses volume, causing the planet to shrink. Mercury is the second densest planet.

</p>

<% include partials/footer %>